{
	"uiUrl": "http://www.fablr.com/",
	"cookieDomain": ".fablr.com",
	"hapi": {
		"cors": {
			"origin": ["http://www.fablr.com", "http://api.fablr.com", "http://dev.fablr.com"],
			"credentials": true,
			"additionalHeaders": [ "X-Requested-With" ]
		}
	},
	"db": {
		"connectionString": "mongodb://user:secret@127.0.0.1:27017/fablr"
	},
	"auth": {
		"cookiePassword": "an-encryption-password-for-cookies",
		"google": {
			"clientId": "your-client-id",
			"clientSecret": "your-client-secret",
			"redirectUri": "http://api.fablr.com:8080/authCallback"
		}
	},
    "logLevel": "debug"
}